{% extends 'SwcForumBundle:Default:forum_template.html.twig' %}

{% block body %}
    <div class="row">
    {% if post is null %}
        <div class="error-message">NOT FOUND</div>
    {% else %}
        <div class="large-12 medium-12 columns">
            <div class="row">
                <div class="callout primary large-2 medium-2 columns">
                    <h6><strong>Author: </strong>{{ post.getCreatedBy().getUsername() }}<br></h6>
                    <h6><strong>Posted: </strong>{{ post.getCreatedAt()|date('D M jS, Y @ g:ia') }}</h6>
                </div>
                <div class="callout large-10 medium-10 columns">
                    <h5>{{ post.getTitle() }}</h5>
                    <h6><span style="font-size: 10px; color: #C82829;">{{ post.getSubTitle() }}</span></h6>
                    <p>{{ post.getContent()|raw }}</p>
                </div>
            </div>
        {% for post in replies %}
            <div class="callout">
                <div class="large-pull-8 medium-pull-8 columns">
                    <div class="large-12 medium-12 columns">
                        {{ post.getTitle() }}
                    </div>
                    <div class="large-12 meidum-12 columns">
                        {{ post.getContent()|raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}